{% extends "layout.html" %}
{% block content %}
    <div class=" ">
        <div class="bg-light p-4">
            <div class="container pt-4 d-flex align-items-center ">
                <h5 class="me-3">EVENTOS EN ESTE MES:</h5> 
                <h6 class="bg-info px-2 py-1 text-white rounded-circle">{{ cantidad_eventos_mes_actual }}</h6>
            </div>
            <div class="container pt-2 d-flex align-items-center ">
                <table class="my-3 table">
                    <thead class="table-info">
                        <tr>
                            <th>Nombre(s)</th>
                            <th>Apellido(s)</th>
                            <th>Correo electrónico</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody >
                        {% for usuario_mas_registrado in usuarios_mas_registrados %}
                        <tr>
                            <td>{{ usuario_mas_registrado.nombre }}</td>
                            <td>{{ usuario_mas_registrado.apellido }}</td>
                            <td>{{ usuario_mas_registrado.email }}</td>
                            <td>{{ usuario_mas_registrado.num_registros }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container py-4 d-flex justify-content-end">
            <div class="">
                <a href="" class="text-body-secondary fw-bold text-decoration-none px-1">Agregar evento</a>
                <button type="button" class="btn btn-info text-white" data-bs-toggle="modal" data-bs-target="#AgregarEvento">
                    <i class="fa-solid fa-plus"></i>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="AgregarEvento" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar evento</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="{% url 'eventos:agregar_evento' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label">Titulo</label>
                                        <input type="titulo" class="form-control" name="titulo" />
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label">Encargado</label>
                                        <input type="text" class="form-control" name="encargado" value="{{ usuario.codigo }}" readonly hidden>
                                        <input type="text" class="form-control" value="{{ usuario.nombre }} {{ usuario.apellido }}" readonly>
                                    </div>
                                    
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="customFile">Imagen</label>
                                        <input type="file" class="form-control" name="imagen" />
                                    </div>
                
                                    <div class="d-flex">
                                        <div data-mdb-input-init class="form-outline mb-4 pe-3">
                                            <label class="form-label">Fecha del evento</label>
                                            <input id="datepicker" name="fecha_evento" />
                                                <script>
                                                    $('#datepicker').datepicker({
                                                        uiLibrary: 'bootstrap5',
                                                        format: 'yyyy-mm-dd'
                                                    });
                                                </script>
                                        </div>
                                        <div data-mdb-input-init class="form-outline mb-4 mt-1 ps-3">
                                            <label class="form-label">Hora del evento</label>
                                            <input id="timepicker" name="hora_evento" />
                                                <script>
                                                    $('#timepicker').timepicker({
                                                        showMeridian: false, 
                                                        minuteStep: 1, 
                                                    });
                                                </script>
                                        </div>
                                    </div>
                                    
                                    <div data-mdb-input-init class="form-outline mb-3">
                                        <label class="form-label">Descripcion</label>
                                        <textarea class="form-control" rows="3" name="descripcion"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-info text-white">Agregar</button>
                                <button type="button" class="btn " data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
                <!-- Modal -->
            </div>
        </div>
    </div>
    <div class="bg-white w-100 h-100">
        <div class="container py-5">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}

            <h2 class="border-bottom mb-5 text-center text-secondary">Eventos</p></h2>
            <div class="py-3">
                <div class="container">
                  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for evento in evento_lista %}
                        <div class="col">
                        <div class="card shadow-sm">
                            <a href="../detalle_evento/{{evento.codigo}}">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{evento.imagen.url}}" alt="{{evento.titulo}}">
                            </a>
                            <a href="../detalle_evento/{{evento.codigo}}" class="text-decoration-none text-dark">
                                <div class="card-body">
                                    <h5 class="card-title mb-3">{{evento.titulo}}</h5>
                                    <p class="card-text mb-1">Encargado: {{evento.encargado}}</p>
                                    <p class="card-text mb-1">Fecha: {{evento.fecha_evento}}</p>
                                    <p class="card-text">Hora: {{evento.hora_evento}}</p>
                                </div>
                            </a>
                            <div class="card-footer d-flex justify-content-between align-items-center">
                                <a href="../detalle_evento/{{evento.codigo}}" class="text-decoration-none fw-bold text-light-emphasis">Detalles del evento</a>
                                {% if evento.es_encargado %}
                                    <div class="d-flex">
                                        <button type="button" class="btn btn-info text-white mx-2" data-bs-toggle="modal" data-bs-target="#editarEvento">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="editarEvento" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar evento</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <form action="{% url 'eventos:actualizar_evento' %}" method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="modal-body">
                                                        <div>
                                                            <input type="number" name="codigo" value="{{ evento.codigo}}" hidden>
                    
                                                            <div data-mdb-input-init class="form-outline mb-4">
                                                                <label class="form-label">Titulo</label>
                                                                <input type="titulo" class="form-control" name="titulo" value="{{evento.titulo}}"/>
                                                            </div>
                    
                                                            <div data-mdb-input-init class="form-outline mb-4">
                                                                <label class="form-label">Encargado</label>
                                                                <input type="text" class="form-control" name="encargado" value="{{ usuario.codigo }}" readonly hidden>
                                                                <input type="text" class="form-control" value="{{ usuario.nombre }} {{ usuario.apellido}}" readonly>
                                                            </div>
                                                            
                                                            <div data-mdb-input-init class="form-outline mb-4">
                                                                <label class="form-label" for="customFile">Imagen </label>  
                                                                <input type="file" class="form-control" name="imagen" />
                                                            </div>
                                        
                                                            <div class="d-flex">
                                                                <div data-mdb-input-init class="form-outline mb-4 pe-3">
                                                                    <label class="form-label">Fecha del evento</label>
                                                                    <input id="datepicker2" name="fecha_evento" value="{{ evento.fecha_evento|date:'Y-m-d' }}" />
                                                                        <script>
                                                                            $('#datepicker2').datepicker({
                                                                                uiLibrary: 'bootstrap5',
                                                                                format: 'yyyy-mm-dd'
                                                                            });
                                                                        </script>
                                                                </div>
                                                                <div data-mdb-input-init class="form-outline mb-4 mt-1 ps-3">
                                                                    <label class="form-label">Hora del evento</label>
                                                                    <input id="timepicker2" name="hora_evento" value="{{evento.hora_evento}}" />
                                                                        <script>
                                                                            $('#timepicker2').timepicker({
                                                                                showMeridian: false, 
                                                                                minuteStep: 1, 
                                                                            });
                                                                        </script>
                                                                </div>
                                                            </div>
                                                            
                                                            <div data-mdb-input-init class="form-outline mb-3">
                                                                <label class="form-label">Descripcion</label>
                                                                <textarea class="form-control" rows="3" name="descripcion">{{evento.descripcion}}</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-info text-white">Actualizar</button>
                                                        <button type="button" class="btn " data-bs-dismiss="modal">Cerrar</button>
                                                    </div>
                                                </form>
                                            </div>
                                            </div>
                                        </div>
                                        <!-- Modal -->
                                        <a href="../detalle_evento/eliminarEvento/{{evento.codigo}}" class="btn btn-danger text-decoration-none text-white"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                {% else %}
                                    <form action="{% url 'eventos:registrar_usuario_evento' %}" method="post">
                                        {% csrf_token %}
                                        <input type="number" name="evento_id" value="{{ evento.codigo }}" hidden>
                                        <button type="submit" class="btn btn-info text-white">Registrarse</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                        </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            
        </div>
    </div>
{% endblock %}