{% extends "layout-before.html" %}
{% block content %}
    {% load static %}
    <div class="container-fluid p-4">
        <div class="container p-5">
            <div class="row align-items-center">
                <div class="col">
                    <h5 class="text-info">EVENTOS</h5>
                    <h4 class="fw-bold">¡Organiza tus actividades en nuestra plataforma!</h4>
                    <p>Aquí, los alumnos son los protagonistas. Imagina, crea y gestiona eventos de manera sencilla y divertida. Desde conferencias inspiradoras hasta fiestas inolvidables, ¡tú decides!</p>
                </div>
                <div class="col">
                    <img src="{% static 'images/undraw_festivities_tvvj.svg' %}" class="w-100">
                </div>
            </div>
            <h1>
        </div>
    </div>
{% endblock %}